:root {
  font-family:'Courier New', Courier, monospace;
  font-size: 14px;

  --bgColor1: rgb(103, 135, 125);
  --bgColor2: rgb(74, 106, 97);
  --bgColor3: rgb(58, 85, 77);
}

body {
  box-sizing: border-box;
  background-color: var(--bgColor1);
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  cursor: default;
}

#app {
  display: flex;
  flex-direction: row;
}
/* ===== HEADER =====  */

#header-div {
  font-style: oblique;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bgColor2);
  padding: 0.9rem;
  
  max-height: fit-content;
}

#header-logo {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  opacity: 0.5;
}

#header-title {
  display: flex;
  margin: 0 0 0 0;
}

#header-subtitle {
  margin: 0 0 0 0;
}

/* ===== PROJECTS =====  */
#panel {
  display: flex;
  flex-direction: column;

  min-width: max-content;
  max-width: 20rem;
  margin-right: 1rem;
  width: 20%;
  border-right: solid var(--bgColor2) 0.5rem;
  border-bottom: solid var(--bgColor2) 0.1rem;
  border-bottom-right-radius: 0.4rem;
}

#panel > .proj-div {
  display: inline-flex;
  justify-content: space-between;
  margin: 0.5rem 0rem 0 0;
  border-bottom: solid var(--bgColor2) 0.1rem;
}

.proj-t2 {
  width: 80%;
}

.proj-rightsubdiv > .proj-editbtn {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.2rem;
  opacity: 0.4;
}

.proj-rightsubdiv > .proj-deletebtn {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.2rem;
  opacity: 0.4;
}
#proj-addbtn {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  opacity: 0.4;
}
/* ===== TASKS =====  */

#content {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

#title-currentproject {
  font-size: 2rem;
}

.task-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width:max-content;
  height: 2rem;

  margin: 0.5rem 0 0.5rem 0;

  border-bottom: solid var(--bgColor3) 0.5rem;
  border-bottom-left-radius: 0.4rem;
}

.task-t3{
  width: max-content;
}

.task-date {
  margin: 0;
  font-size: 0.6rem;
}

.task-priority {
  height: 1.5rem;
  width: 1.5rem;
}

.task-rightsubdiv, .task-leftsubdiv, .task-date {
  min-width: fit-content;
}

.task-rightsubdir {
  margin-left: 0;
}

.task-editbtn {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.1rem;
  opacity: 0.4;
}

.task-deletebtn {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.1rem;
  opacity: 0.4;
}

#task-addbtn{
  opacity: 0.4;
}

/* ===== DIALOGS =====  */

#modal-addproj-dialog, #modal-addtask-dialog, #modal-card-dialog, #modal-delete-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  border: none;
  background-color: var(--bgColor1);
  width: fit-content;
  max-width: 50%;
}

.close-btn {
  height: 2rem;
  width: 2rem;
  margin: 0;
  opacity: 0.4;
}

/* ===== DIALOG CARDS =====  */

#modal-card-priority {
  height: 2rem;
  width: 2rem;
}

#modal-card-headersubdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#modal-card-h3 {
  margin-left: 1rem;
}

/* ===== DIALOG PROJECT =====  */

#modal-addproj-headersubdiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items:center;
  text-align: right;
  min-width: fit-content;
  margin-bottom: 1.5rem;
}

#modal-addproj-h2{
  height: 2rem;
  width: 100%;
  margin: 0 0 0 1.5rem

}

#modal-addproj-input-title {
  margin-bottom: 1.5rem;
}


/* ===== DIALOG TASKS =====  */

#modal-addtask-headersubdiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  text-align: right;
  align-items:center;

  margin-bottom: 1.5rem;
}

#modal-addtask-h2{
  height: 2rem;
  width: 100%;
  margin: 0 0 0 1.5rem
}

#modal-addtask-input-title {
  margin-bottom: 1rem;
}

#modal-addtask-input-description {
  margin-bottom: 1rem;
}

#modal-addtask-input-duedate {
  margin-bottom: 1rem;
}

#modal-addtask-input-duedate{
  justify-content: center;
}

#modal-addtask-selectorssubdiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

#modal-addtask-input-priority{
  width: 40%;
}

#modal-addtask-input-select-project{
  width: 40%;
}

/* =====  DIALOG DELETE =====  */

#modal-delete-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  padding: 1rem;
  width: fit-content;
  width: 40%;
}

/* ===== HOVER =====  */

.proj-div, .task-t3, .task-checkbox, .task-editbtn, .task-deletebtn, .close-btn {
  cursor: pointer;
}

#proj-addbtn, #task-addbtn {
  cursor: pointer;
}

/* ===== ROWS =====  */

.proj-rightsubdiv, .task-rightsubdiv, .task-leftsubdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: max-content;
  margin: 0;
}

.task-leftsubdiv {
width: 40%;
justify-content: flex-start;
}

.task-rightsubdiv {
width: 20%;
justify-content: flex-end;
}

.task-date {
width: 40%;
justify-content: center;
}


#proj-addbtn {
  width: 2rem;
  height: 2rem;

}

#task-addbtn {
  width: 2rem;
  height: 2rem;
  
}